<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- if site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ site.Title }} (Alt + H)">
                <img src="{{ "target.png" | absURL }}" alt="{{ site.Title }}" aria-label="logo" height="30">
            </a>
            {{- end }}
        </div>
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr) }}>
                    <span{{- if eq $menu_item_url $page_url }} class="active"{{- end }}>{{ .Name }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>